@import '../../mixins';
@import '../../variables';

form {
  .field {
    margin-top: 24px;

    label {
      @include inter();
      font-size: 1rem;
      margin-bottom: 4px;
      display: block;
    }

    input, textarea {
      width: 100%;
      padding: 1rem;
      border: 1px solid $card-border-color;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 0.875rem;
      @include inter();
      outline: none;

      &:focus {
        border: 1px solid $primary-color;
      }
    }
  }

  .form-btns {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;

    button {
      padding: 8px 24px;
      border-radius: 8px;
      border: 1px solid $primary-color;
      font-size: 0.875rem;
      @include inter-tight();
      cursor: pointer;

      &.primary {
        background-color: $primary-color;
        color: white;
      }

      &.secondary {
        background-color: transparent;
        color: $primary-color
      }
    }
  }
}
