@import '../../mixins';
@import '../../variables';

.desc {
  @include inter();
  font-size: 1rem;
}

.modal-btns {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;

  button {
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid $primary-color;
    font-size: 0.875rem;
    @include inter-tight();
    cursor: pointer;

    &.primary {
      background-color: $primary-color;
      color: white;
    }

    &.secondary {
      background-color: transparent;
      color: $primary-color
    }
  }
}
