<header>
  <h1>Medical Departures</h1>
</header>
<main>
  <section class="btn-container">
    <button (click)="createPost()">
      <span>Create Post</span>
      <ng-icon name="heroPlusSolid" size="1.1em"></ng-icon>
    </button>
  </section>
  <section class="cards">
    @for (post of posts; track post.id) {
      <div class="card">
        <img src="/article.png" alt="Article placeholder">
        <div class="content">
          <article>
            <h2>{{ post.title }}</h2>
            <p>{{ post.body }}</p>
          </article>
          <div class="btns">
            <button (click)="updatePost(post)">
              <ng-icon name="heroPencil" size="1.2em"></ng-icon>
            </button>
            <button>
              <ng-icon name="heroTrash" size="1.2em"></ng-icon>
            </button>
          </div>
        </div>
      </div>
    }
  </section>
</main>

<app-create-post-modal
  [open]="openCreateModal"
  (onClose)="openCreateModal = false;"
  (onCreate)="addNewPost($event)">
</app-create-post-modal>
<app-update-post-modal
  [open]="openUpdateModal"
  [post]="selectedPost"
  (onClose)="openUpdateModal = false;"
  (onUpdate)="editPost($event)">
</app-update-post-modal>
